body{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton{
    height: 8rem;
    width: 12rem;
    
}
.BUTO{
    color: red;
    height: 100%;
    width: 100%;
}